.dataGridContent {
    height: 80vh; 
    width: 100%;

    .dataTableTitle {
        width:100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items:right;
        justify-content: right
    }

    .cellAction {
        display:flex;
        align-items: center;
        gap:15px;

        .viewButton {
            padding: 2px 5px;
            border-radius:5px;
            color:#7451f8;
            border:1px solid #7451f8;
            cursor:pointer;
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius:5px;
            color:crimson;
            border:1px solid crimson;
        }
    }
}