.single {
    width:100%;

    .dataTableTitle {
        display:flex;
        justify-content: space-between;
        margin-bottom:10px;
        padding:10px 20px 0px 20px;
    
        button {
            margin-top: 15px;
            width:15%;
            border:none;
            color:#fff;
            cursor: pointer;
            font-size:18px;
            background-image: linear-gradient(90deg, rgb(12, 237, 147),#7451f8);
        }
        
    }

    .top {
        display: flex;
        padding:20px;
        gap:20px;
        .title {
            font-size: 25px;
            font-weight: bold;
            color:gray;
            padding-bottom:20px;
        }

        .itemTitle {
            font-size:20px;
        }

        .left {
            flex:1;
            -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
            box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
            border-radius:10px;
            padding:20px;
            position:relative;

          .title {
            color:#7451f8;
          }

            .editButton {
                position: absolute;
                right: 0;
                top:0;
                padding:5px;
                background-color: #7552f828;
                cursor:pointer;
                border-radius: 0 5px 0 5px;
            }

            .item {
                display: flex;
                gap:20px;

                .itemImg {
                    width:100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .details {
                    .itemTitle{
                        margin-bottom: 10px;
                        color:#555;

                    }

                    .detailItem{
                        margin-bottom: 10px;
                        font-size: 14px;

                        .itemKey {
                            font-weight: bold;
                            color: gray;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .right {
            flex:2;
            

            * {
                color:#7451f8
            }
        }
    }

    .bottom {
        -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
        box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
        border-radius:10px;
        padding:20px;
        margin:20px;

        .listTitle {
            font-weight: 500;
            color:#7451f8;
            margin-bottom:15px;
        }
    }
}